@model int

<div class="text-center">
    <h1 class="display-4">@Challenge.Controllers.ChatController.Rooms.GetValueOrDefault(Model)</h1>
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-8">
                <div class="input-group mb-3">
                    <input type="hidden" id="user" value="@User.Identity.Name" />
                    <input type="text" class="form-control" placeholder="message" id="message" />
                    <div class="input-group-append">
                        <button id="sendButton" class="btn btn-primary" type="button">Send</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div id="messages"></div>
            </div>
        </div>
    </div>
</div>

<script src="~/lib/microsoft/signalr/dist/browser/signalr.min.js"></script>

<script>
    var connection = new signalR.HubConnectionBuilder().withUrl("/chatHub").build();
    var countMessage = 0;
    var countMessageToDelete = 0;
    const maxMessages = 50;

    connection.start().then(() => {
        connection.invoke("AddToGroup", "@Model")
    }).catch((e) => console.error(e));

    //envia mensajes al server
    document.getElementById("sendButton").addEventListener("click", (event) => {

        let room = "@Model";
        let user = document.getElementById("user").value;
        let message = document.getElementById("message").value;

        connection.invoke("SendMessage", room, user, message)
            .catch((err) => console.error(err.toString()));

        document.getElementById("message").value = "";
        document.getElementById("message").focus()

        event.preventDefault();
    });

    //recibe mjes del server
    connection.on("ReceiveMessage", (user, message) => {
        countMessage++;
        var messageName = "messagePosition" + countMessage;
        var numItems = $('.text-start').length;
        
        if (numItems >= maxMessages) {
            countMessageToDelete++;
            var value = $("div[name='messagePosition" + countMessageToDelete  + "']");
            value.remove();
        }

        var date = new Date();
        var time = "(" + date.getHours() + ":" + date.getMinutes() + ":" + date.getSeconds() + ")";
        var newMessage = "<div name='" + messageName + "' class='text-start'><b>" + user + ": </b>" + message + "  " + time + "</div>";
        document.getElementById("messages").innerHTML = newMessage + document.getElementById("messages").innerHTML;
    });
</script>